
<div class="title-container">
  <h1>All Recipes</h1>
  <% if user_signed_in? %>
    <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-default" %>
  <% end %>
</div>
<p id="notice"><%= notice %></p>

<%= render 'recipe_cards' %>