// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// *= require bootstrap
// *= require_tree .
// *= require_self
@import "colors";
@import "recipes";

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    h1 {
        margin: 0;
    }
}

footer {
    text-align: center;
}