// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// *= require bootstrap
// *= require_tree .
// *= require_self
@import "colors";
@import "recipes";

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    h1 {
        margin: 0;
    }
}

li {float: left;
    list-style-type:none;
    }

footer {
    text-align: center;
}
.search {
    background-image: url("iconmonstr-magnifier-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
}